@page
@model HousePointsApp.AddUserModel
@{
    ViewData["Title"] = "Success";
}
@{
    Layout = "./Shared/_LayoutSuccess";
}
<div class="container-fluid">
    <br />
    <h3>@Model.Text</h3>
    <br />
    <a href="/Index" class="btn btn-primary">Back to Home</a>
</div>
