@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container-fluid">
    <h1>About Us</h1>
    <p>
        The Learning Factory is a hands-on, collaborative work environment located on Penn
        State's University Park Campus. This facility is available to students for use in
        capstone design projects, course projects, research projects, and more. For more information
        about our space, please visit our <a href="https://www.lf.psu.edu/" style="color:#42b9f4;">site.</a>
    </p>
    <h1>Frequently Asked Questions</h1>
    <h2 style="color:#42b9f4;">
        <font size="4">
            Why do I have to sign in every time I visit the Learning Factory?
        </font>
    </h2>
    <p style="color:#041e42;">
        <font size="3">
            The Learning Factory is now tracking attendance each time a student uses the facility. This benefits both
            us and you! We will be able to use this information to determine how to better serve students and learn
            what motivates students to use our facility more frequently. You will be able to earn points each time
            you visit the Learning Factory, and these points can be redeemed for some really awesome prizes.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How do I sign in to the Learning Factory?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            Each time you enter the Learning Factory, you will swipe your Penn State Student ID card in the main lobby
            area. There is a card reader, similar to what you would find in the recreation facilities on campus. This
            card reader is attached to a this monitor, so if you are having trouble finding it, just look down!
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How do I know if I successfully signed in?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            When you sign in, a welcome message will be displayed on the screen to let you know that everything
            went smoothly. If your card could not be read for some reason, an error message will be shown on the screen
            to notify you. In this case, either try swiping your card again or find a member of the Learning Factory staff.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            Do I also have to sign out each time I visit the Learning Factory?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            Yes! To figure out how long you were at the facility, we need to log both the time you signed in and the
            time you signed out.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How do I sign out?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            You sign out exactly the same way you signed in. Just swipe your ID card through the same card reader you
            if you see an error message, either try again or find a member of the Learning Factory staff.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How are the points for each session calculated?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            The points for each student attendance session is calculated as follows.
            <ol>
                <li>Each student automatically receives 1 point upon sign in</li>
                <li>Each full hour a student stays at the facility earns them an additional 1 point</li>
                <li>If the minutes of a student stay exceeds 30, they receive 1 additional point</li>
                <li>If the student does not sign out from a session, their session is automatically closed at midnight and they only receive 1 point total</li>
            </ol>
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How do I see how many points I have?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            Returning students will see their point totals displayed on the monitor upon sign in. They may also consult
            a Learning Factory staff member who can check point totals.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How do I redeem points for prizes?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            In order to redeem your points for a prize, you will need to speak with a Learning Factory staff member.
            Administrators can view your point total, determine if you have enough points for the prize, and award you
            the prize if you qualify.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            What do I do if I think my point total is wrong?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            If you believe there is an error in how many points you have, please consult a member of the Learning Factory
            staff. They will be able to view all your attendance records and overall point values to troubleshoot the
            issue.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How do I see what prizes are available?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            The current list of prizes appears at the bottom of this page. You can also ask a
            Learning Factory staff member for a list of current available prizes.
        </font>
    </p>

    <h2 style="color:#42b9f4;">
        <font size="4">
            How did this project come about?
        </font>
    </h2>
    <p style="color:#041e42">
        <font size="3">
            This was a senior design capstone project completed in the 2019-2020 school year. A team of Computer Science
            and Computer Engineering majors spent a semester implementing this system.
        </font>
    </p>
</div>

@if (Model.PrizeNameList != null && Model.PrizeValueList != null)
{
    <div class="container mb-5 mt-3">
        <h3>Prize List</h3>

        <table class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Prize Name</th>
                    <th>Points Value</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.PrizeNameList.Count(); i++)
                {
                    <tr>
                        <th>@Model.PrizeNameList[i]</th>
                        <th>@Model.PrizeValueList[i]</th>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>

    </div>
}
