@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container-fluid">
    <h1>About Us</h1>
        <p>The Learning Factory is a hands-on, collaborative work environment located on Penn
            State's University Park Campus. This facility is available to students for use in
            capstone design projects, course projects, research projects, and more. For more information
            about our space, please visit our <a href="https://www.lf.psu.edu/">site.</a>
        </p>
    <h1>Frequently Asked Questions</h1>
    <dl class="faq">
        <dt>
            <button aria-expanded="false" aria-controls="faq1_desc">
                Why do I have to sign in every time I visit the Learning Factory?
            </button>
        </dt>
        <dd>
            <p id="faq1_desc" class="desc">
                The Learning Factory is now tracking attendance each time a student uses the facility. This benefits both
                us and you! We will be able to use this information to determine how to better serve students and learn
                what motivates students to use our facility more frequently. You will be able to earn points each time
                you visit the Learning Factory, and these points can be redeemed for some really awesome prizes.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq2_desc">
                How do I sign in to the Learning Factory?
            </button>
        </dt>
        <dd>
            <p id="faq2_desc" class="desc">
                Each time you enter the Learning Factory, you will swipe your Penn State Student ID card in the main lobby
                area. There is a card reader, similar to what you would find in the recreation facilities on campus. This
                card reader is attached to a this monitor, so if you are having trouble finding it, just look down!
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq3_desc">
                How do I know if I successfully signed in?
            </button>
        </dt>
        <dd>
            <p id="faq3_desc" class="desc">
                When you sign in, a welcome message will be displayed on the screen to let you know that everything
                went smoothly. If your card could not be read for some reason, an error message will be shown on the screen
                to notify you. In this case, either try swiping your card again or find a member of the Learning Factory staff.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq4_desc">
                Do I also have to sign out each time I visit the Learning Factory?
            </button>
        </dt>
        <dd>
            <p id="faq4_desc" class="desc">
                Yes! To figure out how long you were at the facility, we need to log both the time you signed in and the
                time you signed out.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq5_desc">
                How do I sign out?
            </button>
        </dt>
        <dd>
            <p id="faq5_desc" class="desc">
                You sign out exactly the same way you signed in. Just swipe your ID card through the same card reader you
                signed in at. A message should show on the monitor confirming that you were successfully swiped out. Again,
                if you see an error message, either try again or find a member of the Learning Factory staff.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq6_desc">
                How are the points for each session calculated?
            </button>
        </dt>
        <dd>
            <p id="faq6_desc" class="desc">
                The points for each student attendance session is calculated as follows.

                1) Each student automatically receives 1 point upon sign in
                2) Each full hour a student stays at the facility earns them an additional 1 point
                3) If the minutes of a student's stay exceeds 30, they receive 1 additional point
                4) If the student does not sign out from a session, their session is automatically closed at midnight and
                they only receive 1 point total.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq7_desc">
                How do I see how many points I have?
            </button>
        </dt>
        <dd>
            <p id="faq7_desc" class="desc">
                Recurring students will see their point totals displayed on the monitor upon sign in. They may also consult
                a Learning Factory staff member who can check point totals.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq8_desc">
                How do I redeem points for prizes?
            </button>
        </dt>
        <dd>
            <p id="faq8_desc" class="desc">
                In order to redeem your points for a prize, you will need to speak with a Learning Factory staff member.
                Administrators can view your point total, determine if you have enough points for the prize, and award you
                the prize if you qualify.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq9_desc">
                What do I do if I think my point total is wrong?
            </button>
        </dt>
        <dd>
            <p id="faq9_desc" class="desc">
                If you believe there is an error in how many points you have, please consult a member of the Learning Factory
                staff. They will be able to view all your attendance records and overall point values to troubleshoot the
                issue.
            </p>
        </dd>
        <dt>
            <button aria-expanded="false" aria-controls="faq10_desc">
                How did this sign in project come about?
            </button>
        </dt>
        <dd>
            <p id="faq10_desc" class="desc">
                This was a senior design capstone project completed in the 2019-2020 school year. A team of Computer Science
                and Computer Engineering majors spent a semester implementing this system.
            </p>
        </dd>
    </dl>
</div>