@page
@model HousePointsApp.AdminModel
@{
    ViewData["Title"] = "Admin";
    ViewData["UserName"] = "";
    ViewData["CurrentPoint"] = "No User selected";
    ViewData["ChangeValueLabel"] = "Set Point to";
    ViewData["DropDownLabel"] = "Actions";
}


<!-- Content section -->
<!-- $('#datebox').val($(this).html());-->
<div class="container-fluid">
    <h1>Welcome to Learning Factory Admin Page</h1>

    @{
        if (Model.DisplayMessage != null)
        {
            <h3>Message: @Model.DisplayMessage</h3>
        }
    }
    <form asp-page-handler="Submit" method="post">
        <div class="form-row text-left">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActionMenu"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="selected">@Model.DropDownMessage</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownActionMenu" role="menu">
                        <li>
                            <button class="btn btn-secondary" style="width:200px;" id="1" value="Check Point Balances" asp-page-handler="CheckBalance">Check Point Balances</button>
                        </li>
                        <li>
                            <button class="btn btn-secondary" style="width:200px;" id="2" value="Increase/Award Points" asp-page-handler="IncreasePoint">Increase/Award Points</button>
                        </li>
                        <li>
                            <button class="btn btn-secondary" style="width:200px;" id="3" value="Decrease/Redeem Points" asp-page-handler="DecreasePoint">Decrease/Redeem Points</button>
                        </li>
                        <li>
                            <button class="btn btn-secondary" style="width:200px;" id="4" value="Set Point Balance" asp-page-handler="SetPoint">Set Point Balance</button>
                        </li>
                        <li>
                            <button class="btn btn-secondary" style="width:200px;" id="5" value="Delete Account" asp-page-handler="DeleteAccount">Delete Account</button>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <label for="UIDSelect">Choose User Account to work on:</label>
                    <input id="UIDSelect" name="UIDSelect" type="text" placeholder="934191061" />
                </div>
                <div class="row">
                    <label for="">Current Point total: @Model.CurrentPoint</label>
                </div>
                <div class="row">
                    <label for="ChangeValue">@Model.ChangeValueLabel:</label>
                    <input id="ChangeValue" name="ChangeValue" type="text" placeholder="Enter Value" />
                </div>
                <div class="row">
                    <button class="btn btn-primary" ID="6" type="submit">Submit</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </form>

</div>
