@page
@model HousePointsApp.HouseAssignmentsModel
@{
    ViewData["Title"] = "HouseAssignments";
}

<h2 style="color:#041e42;">Student House Assignments</h2>
<h4 style="color:#42b9f4;">@Model.DisplayMessage</h4>
@if (Model.HouseAssignments != null)
{
    <div class="container mb-5 mt-3">
        <table class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Student Access ID</th>
                    <th>House Assignment</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < @Model.HouseAssignments.Count; i++)
                {
                    <tr>
                        <th>@Model.HouseAssignments[i].campus_id</th>
                        <th>@Model.HouseAssignments[i].house</th>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>

    </div>
}