@page
@model IndexModel
@{
    ViewData["Title"] = "House Points";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<!-- Content section -->
    <div class="container" align="center">
        <p class="lead">Our Weekly Hours:</p>
        <p>
            Saturday	Closed<br />
            Sunday	Closed<br />
            Monday	8AM–10PM<br />
            Tuesday	8AM–10PM<br />
            Wednesday	8AM–10PM<br />
            Thursday	8AM–10PM<br />
            Friday	8AM–10PM
        </p>
    </div>
