@page
@model HousePointsApp.AddUserModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <h1>Log in to the Learning Factory</h1>
    <div class="form-row text-left">
        <div class="col">
            <form method="post">
                <p style="color:red;">@Model.status</p>
                <label for="UIDbox">PSU ID:</label>
                <input type="text" name="studentID" size="30" placeholder="Please enter your 9 digit PSU ID" />
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-primary" type="reset">Reset Input</button>
            </form>
        </div>
    </div>
</div>