@page
@model HousePointsApp.AddUserModel
@{
    ViewData["Title"] = "Welcome to Learning Factory Login Page";
}

<div class="container-fluid">
    <h1>Login Page</h1>
    <div class="form-row text-left">
        <div class="col">
            <form method="post">
                <label for="UIDbox">PSU ID:</label>
                <input type="text" ID="UIDbox" name="UIDbox" placeholder="PSU ID Here" />
                <button type="submit">Submit</button>
                <button type="reset">Reset Input</button>
            </form>
        </div>
    </div>
</div>

