@page
@model HousePointsApp.AddUserModel
@{
    ViewData["Title"] = "Welcome to Learning Factory Login Page";
}

<div class="container-fluid">
    <h1>Login Page</h1>
    <div class="form-row text-left">
        <div class="col">
            <form method="post">
                <input id="UIDbox" name="UIDbox" type="text" asp-for="UserAccount.UID" />
                <button type="submit">Submit</button>
                <button type="reset">Reset Input</button>
            </form>
        </div>
    </div>
</div>

