@page
@model HousePointsApp.AddUserModel
@{
    ViewData["Title"] = "Welcome to Learning Factory Login Page";
}

<h1>Login Page</h1>
<form method="post">
    <input type="text" asp-for="UserAccount.UID" placeholder="Penn State ID Number Here" />
    <button type="submit">Submit</button>
    <button type="reset">Reset Input</button>
    <button type="button">1</button>
    <button type="button">2</button>
    <button type="button">3</button>
    <button type="button">4</button>
    <button type="button">5</button>
    <button type="button">6</button>
    <button type="button">7</button>
    <button type="button">8</button>
    <button type="button">9</button>
    <button type="button">0</button>
</form>

